@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0, 0%, 0%;
  --foreground: 0, 0%, 100%;
  --accent: 260, 94.2%, 66.1%; /* #8B5CF6 */
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-space-grotesk), sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-weight: 700;
}

/* Minimal Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #222;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
